// conf/base.config

process {
    // 错误重试机制：如果由于内存不足导致失败 (退出码 137 等)，自动增加资源重试
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    // 全局基础兜底资源
    cpus   = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
    time   = { 4.h * task.attempt }

    // 针对轻量级任务 (如 Cellranger mkgtf)
    withLabel: 'setting_2' {
        cpus   = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

    // 针对中重度任务 (如 Cellranger count 和单个样本的 Seurat QC)
    withLabel: 'setting_4' {
        cpus   = { 8 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }

    // 针对极高资源需求的任务 (如 Cellranger mkref 和多样本 Seurat Integration)
    withLabel: 'setting_6' {
        cpus   = { 16 * task.attempt }
        memory = { 128.GB * task.attempt } // 样本整合和构建索引极度吃内存
        time   = { 48.h * task.attempt }
    }
}
