// conf/base.config

process {
    // Error retry mechanism: Automatically retry with increased resources if a failure occurs due to insufficient memory (e.g., exit code 137).
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    // Comprehensive foundational safety-net resources
    cpus   = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
    time   = { 4.h * task.attempt }

    // For lightweight tasks (such as Cellranger mkgtf)
    withLabel: 'setting_2' {
        cpus   = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

    // For medium-to-heavy tasks (such as Cellranger count and single-sample Seurat QC)
    withLabel: 'setting_4' {
        cpus   = { 8 * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }

    // For tasks with extremely high resource requirements (such as Cellranger mkref and multi-sample Seurat integration)
    withLabel: 'setting_6' {
        cpus   = { 16 * task.attempt }
        memory = { 128.GB * task.attempt } // Sample integration and index construction are extremely memory-intensive.
        time   = { 48.h * task.attempt }
    }
}
