// nextflow.config

// 1. Global default parameter settings (can be overridden via command line using --param_name)
params {
    // Data Input and Reference Genome
    samplesheet    = "$baseDir/samples.csv"
    ref_fa         = false
    ref_gtf        = false
    species_name   = "custom_ref"
    
    // Output directory
    outdir         = "$baseDir/scRNA_results"
    
    // Seurat Quality Control and Analytical Parameters
    mito_threshold = 10     // Maximum allowable proportion of mitochondrial genes (%)
    pcs_use        = 30     // Number of PCs used for dimensionality reduction and clustering
    
    // Toggle for basic help information
    help           = false
}

// 2. Importing separate resource configuration files
includeConfig 'conf/base.config'

// 3. Runtime Environment Configuration (Profiles)
// nextflow.config
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        
        // The Cellranger image is used by default globally
        process.container = 'ghcr.io/luozize/scrna_pipeline_env:latest'

        // Forcing overwrites for Seurat steps
        process {
            withName: 'SEURAT_PER_SAMPLE_QC' {
                container = 'ghcr.io/luozize/local_seurat_env:latest'
            }
            withName: 'SEURAT_INTEGRATION' {
                container = 'ghcr.io/luozize/local_seurat_env:latest'
            }
        }
    }
}

// Generate execution report
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
