// nextflow.config

// 1. 全局默认参数设置 (可通过命令行 --param_name 覆盖)
params {
    // 数据输入与参考基因组
    samplesheet    = "$baseDir/samples.csv"
    ref_fa         = false
    ref_gtf        = false
    species_name   = "custom_ref"
    
    // 输出目录
    outdir         = "$baseDir/scRNA_results"
    
    // Seurat 质控与分析参数
    mito_threshold = 10     // 线粒体基因最大允许比例 (%)
    pcs_use        = 30     // 降维和聚类时使用的 PC 数量
    
    // 基础帮助信息开关
    help           = false
}

// 2. 引入分离的资源配置文件
includeConfig 'conf/base.config'

// 3. 运行环境配置 (Profiles)
// nextflow.config
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        
        // 全局默认使用 Cellranger 镜像
        process.container = 'ghcr.io/luozize/scrna_pipeline_env:latest'

        // 针对 Seurat 步骤强制覆盖
        process {
            withName: 'SEURAT_PER_SAMPLE_QC' {
                container = 'ghcr.io/luozize/local_seurat_env:latest'
            }
            withName: 'SEURAT_INTEGRATION' {
                container = 'ghcr.io/luozize/local_seurat_env:latest'
            }
        }
    }
}

// 生成运行报告
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
